body {
  text-align: center;
  font-family: helvetica, verdana, sans-serif;
    line-height: 1.3em;
      font-size: 1.2em;
  text-align: center;
}

li { 
  list-style-type: none;
}

p {
}
button {
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  background-color: #eee;
}

.main {
  margin-top: 3%;
}

img {
  height: 200px;
  margin: 20px;
}
